.main{
    margin: 0px;
    background-color: #eef1f7;
    margin-top: 5px;
    border: 5px solid #d5dae5;
    
        
}
.txt{
    display: inline;
    width:50px;
}

#txtTotal{
    display: inline;
    width:75px;
}

#tablaP {
     overflow:scroll;
     height:300px;
}

.Espera{
    font-size:25px;
    color: #c41c00;
}

.Proceso{
    
    font-size:25px;
    color: #c7cc00;
}

.Completada{
    
    font-size:25px;
    color: #32cb00;
}